.config-container {
  position: absolute;
  bottom: 100px;
  right: 10px;

  > div {
    padding: 10px 15px;
    border-radius: 8px;

    background-color: #fff;

    margin-bottom: 5px;

    > div {
      margin-top: 5px;
      box-shadow: none !important;

      > div {
        padding: 0 !important;
      }
    }
  }
}

.config-container.config-container__sword {
  bottom: 50%;
  // width: 400px;

  // bottom: 22px;
  // right: 50%;

  // transform: translateX(50%);

  // z-index: 999;
}

@media (max-width: 700px) {
  .config-container {
    top: 100px;
    bottom: unset;
    right: 50%;

    transform: translateX(50%) scale(0.8);

    > div {
      padding: 5px 8px;
    }
  }
}